<header>
    <mat-toolbar>
        <mat-toolbar-row class="row between-xs middle-xs">
            <ul class="main-nav">
                <li class="main-nav__item"><a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
                </li>
                <li class="main-nav__item"><a mat-button routerLink="/contact" routerLinkActive="active">Contacto</a>
                </li>
                <li class="main-nav__item"><a mat-button routerLink="/products" routerLinkActive="active">Productos</a>
                </li> 
                <li class="main-nav__item"><a mat-button routerLink="/admin" routerLinkActive="active">Gestión Producto</a>
                </li>
            </ul>
            <a mat-raised-button matBadge="4" matBadgeColor="warn">
                <mat-icon>shopping_basket</mat-icon>
                Carrito
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</header>