<div class="grid-container">
  <app-formulario (getProduct)="agregarProducto($event)"></app-formulario>
</div>
<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Agergar Producto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Titulo</mat-label>
      <input type="text" matInput [(ngModel)]="product.title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>precio</mat-label>
      <input type="text" matInput [(ngModel)]="product.price">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input type="text" matInput [(ngModel)]="product.description">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Imagen</mat-label>
      <input type="text" matinput [(ngModel)]="product.image">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="agregarProducto()"></button>
  </mat-card-actions>
</mat-card> -->
