<ul>
    <li>Carne</li>
    <ol>
        <li> <a href="https://www.enmicocinahoy.cl/cazuela-de-vacuno/">Vacuno</a> </li>
        <li> <a href="https://www.elespanol.com/cocinillas/recetas/carne/20170506/recetas-faciles-alitas-pollo-chuparte-dedos-sabado/1000855964396_30.html">Pollo</a></li>
    </ol>
    <li>Fruta</li>
    <ol>
        <li> <a href="https://comidaschilenas.com/receta-de-manzanas-confitadas/">Manzana</a> </li>
        <li></li>
    </ol>
</ul>

<input list="cursos">
<br>
<datalist id="cursos">
    <option value="JavaScript" ></option>
    <option value="C#"></option>
    <option value="Phyton"></option>
</datalist>